body{
    background-color: #222; 
    
    
}


.spaces>div>p{
   
    justify-content: center;
    align-content: center;
    width: 2.343vw;
    height: 2.343vw;
    transform: scale(1.5);
    
}
.spaces>span{
    z-index: 3;
    transform: scale(2.5) translate(-63%, -26%) skewX(
        25deg
        ) rotate(
        -28deg
        );
}
.playerOne{
    transition: 1s;
    z-index: 5;
    
    transform:rotateZ(-45deg) scale(2) translate(50%,0);  
    
}


.playerTwo{
    transition: 1s;
    z-index: 4;
    transform:rotateZ(-45deg) scale(2) translate(50%,0);  
    
}
.playerThree{
    transition: 1s;
    z-index: 4;
    transform:rotateZ(-45deg) scale(2) translate(50%,0);  
    
}
.playerFour{
    transition: 1s;
    z-index: 4;
    transform:rotateZ(-45deg) scale(2) translate(50%,0);  
    
}
/* .p1section{
    transform: scale(8) rotateZ(-90deg) skewX(-50deg);
}
.p2section{
    transform: scale(8) rotate(90deg) rotateZ(-90deg) skewX(50deg);
}
.p3section{
    transform: scale(8) rotateZ(-90deg) skewX(-50deg);
}
.p4section{
    transform: scale(8) rotate(90deg) rotateZ(-90deg) skewX(50deg);
}
.playingas{
    transform: scale(1) rotate(-4deg) rotateZ(-90deg) skewX(-50deg);
} */
.游랛 {
    transition: 1s;
    transform: scale(2) translate(20%, 0%);
    text-shadow: rgb(0, 98, 245) 1px 1px 1px;
    z-index: +10;
}
.游래 {
    transition: 1s;
    transform: scale(2)translate(20%, 0%);
    text-shadow: rgb(255, 254, 254) 1px 1px 1px;
    z-index: +10;
}
.游랚 {
    transition: 1s;
    transform: scale(2)translate(20%, 0%);
    text-shadow: rgb(35, 185, 5) 1px 1px 1px;
    z-index: +10;
}
.游랙 {
    transition: 1s;
    transform: scale(2)translate(20%, 0%);
    text-shadow: rgb(245, 0, 0) 1px 1px 1px;
    z-index: +10;
}
#player-one {
    transform: scale(3)
}

/* form buttons */



/* ele buttons */




.游랛0 {
    grid-column: 2;
    grid-row: 1;
    
    transform: rotate(-15deg) skew(30deg) scaleY(0.86) translate(-35%, 17%);
    text-shadow: rgb(0, 98, 245) 7px -9px 6px;
}
.游래1 {
    grid-column: 3;
    grid-row: 2;
    transform: rotate(-75deg) skew(-30deg) scaleY(.86) translate(-35%, -17%);
    text-shadow: rgb(128, 100, 100) -9px -13px 6px;
}
.游랚2 {
    grid-column: 1;
    grid-row: 2;
    transform: rotate(-75deg) skew(-30deg) scaleY(.86) translate(35%, 17%);
    text-shadow: rgb(35, 185, 5) -9px -12px 6px;
    
}
.游랙3 {
    grid-column: 2;
    grid-row: 3;
    transform: rotate(-15deg) skew(30deg) scaleY(.86) translate(35%, -17%);
    text-shadow: rgb(245, 0, 0) 9px -12px 6px;
    
}







/* playboard */

#游랛 {
    font-size: 2vw;
    transform: rotateX(55degdeg) skew(30deg); 
    text-shadow: rgb(0, 98, 245) 0px -.5px 1px;
}
#游래 {
    font-size: 2vw;
    transform: rotateX(55degdeg) skew(30deg); 
    text-shadow: rgb(255, 254, 254) 0px -.5px 1px;
}
#游랚 {
    font-size: 2vw;
    transform: rotateX(55degdeg) skew(30deg); 
    text-shadow: rgb(35, 185, 5) 0px -.5px 1px;
}
#游랙 {
    font-size: 2vw;
    transform: rotateX(55degdeg) skew(30deg); 
    text-shadow: rgb(245, 0, 0) 0px -.5px 1px;
}




.summon{
    background-color: rgb(55, 68, 32);
    text-shadow: yellowgreen 0px 0px 1px;
    width: 3.5vw;
    
    line-height: 3vw;
    grid-column: 30;
    grid-row: 30;
    transform: scale(3);
}

.summoned{
    
    text-align: center;
    font-size: 1vw;
    transition: 1s;
    grid-column: 16;
    grid-row: 16;
    white-space: nowrap;
    transform: scale(6) rotateY(-30deg) skewX(30deg) rotate(-30deg) translate(-35%, 15%);
    text-shadow: rgb(190, 190, 190) 0px 0px .5px;
}


/* // */
.space-0{
    transform: scale(2);
    grid-column: 9;
    grid-row: 9;
}
.space-1{
    grid-column: 9;
    grid-row: 8;
}

.space-2{
    grid-column: 9;
    grid-row: 7;
}
.space-3{
    grid-column: 9;
    grid-row: 6;
}
.space-4{
    grid-column: 9;
    grid-row: 5;
}
.space-5{
    grid-column: 9;
    grid-row: 4;
}
.space-6{
    grid-column: 9;
    grid-row: 3;
}
.space-7{
    grid-column: 9;
    grid-row: 2;
}
.space-8{
    grid-column: 9;
    grid-row: 1;
}
    /* || */   
.space-9{
    grid-column: 10;
    grid-row: 2;
}
.space-10{
    
    grid-column: 11;
    grid-row: 3;
}
.space-11{
    grid-column: 12;
    grid-row: 4;
}
.space-12{
    grid-column: 13;
    grid-row: 5;
}
.space-13{
    grid-column: 14;
    grid-row: 6;
}
.space-14{
    grid-column: 15;
    grid-row: 7;
}
.space-15{
    grid-column: 16;
    grid-row: 8;
}
.space-16{
    grid-column: 17;
    grid-row: 9;
}
/* \\ */
.space-17{
    grid-column: 18;
    grid-row: 9;
}
.space-18{
    grid-column: 19;
    grid-row: 9;
}
.space-19{
    grid-column: 20;
    grid-row: 9;
}
.space-20{
    grid-column: 21;
    grid-row: 9;
}
.space-21{
    grid-column: 22;
    grid-row: 9;
}
.space-22{
    grid-column: 23;
    grid-row: 9;
}
.space-23{
    grid-column: 24;
    grid-row: 9;
}
.space-24{
    grid-column: 25;
    grid-row: 9;
}
/* // */
.space-25{
    grid-column: 25;
    grid-row: 10;
}
.space-26{
    grid-column: 25;
    grid-row: 11;
}
.space-27{
    grid-column: 25;
    grid-row: 12;
}
.space-28{
    grid-column: 25;
    grid-row: 13;
}
.space-29{
    grid-column: 25;
    grid-row: 14;
}
.space-30{
    grid-column: 25;
    grid-row: 15;
}
.space-31{
    grid-column: 25;
    grid-row: 16;
}
.space-32{
    grid-column: 25;
    grid-row: 17;
}
/* || */
.space-33{
    grid-column: 26;
    grid-row: 18;
}
.space-34{
    grid-column: 27;
    grid-row: 19;
}
.space-35{
    grid-column: 28;
    grid-row: 20;
}
.space-36{
    grid-column: 29;
    grid-row: 21;
}
.space-37{
    grid-column: 30;
    grid-row: 22;
}
.space-38{
    grid-column: 31;
    grid-row: 23;
}
.space-39{
    grid-column: 32;
    grid-row: 24;
}
.space-40{
    grid-column: 33;
    grid-row: 25;
}
/* \\ */
.space-41{
    grid-column: 32;
    grid-row: 25;
}
.space-42{
    grid-column: 31;
    grid-row: 25;
}
.space-43{
    grid-column: 30;
    grid-row: 25;
}
.space-44{
    grid-column: 29;
    grid-row: 25;
}
.space-45{
    grid-column: 28;
    grid-row: 25;
}
.space-46{
    grid-column: 27;
    grid-row: 25;
}
.space-47{
    grid-column: 26;
    grid-row: 25;
}
.space-48{
    grid-column: 25;
    grid-row: 25;
}
/* // */
.space-49{
    grid-column: 25;
    grid-row: 26;
}
.space-50{
    grid-column: 25;
    grid-row: 27;
}
.space-51{
    grid-column: 25;
    grid-row: 28;
}
.space-52{
    grid-column: 25;
    grid-row: 29;
}
.space-53{
    grid-column: 25;
    grid-row: 30;
}
.space-54{
    grid-column: 25;
    grid-row: 31;
}
.space-55{
    grid-column: 25;
    grid-row: 32;
}
.space-56{
    grid-column: 25;
    grid-row: 33;
}
/* || */
.space-57{
    grid-column: 24;
    grid-row: 32;
}
.space-58{
    grid-column: 23;
    grid-row: 31;
}
.space-59{
    grid-column: 22;
    grid-row: 30;
}
.space-60{
    grid-column: 21;
    grid-row: 29;
}
.space-61{
    grid-column: 20;
    grid-row: 28;
}
.space-62{
    grid-column: 19;
    grid-row: 27;
}
.space-63{
    grid-column: 18;
    grid-row: 26;
}
.space-64{
    grid-column: 17;
    grid-row: 25;
}
/* \\ */
.space-65{
    grid-column: 16;
    grid-row: 25;
}
.space-66{
    grid-column: 15;
    grid-row: 25;
}
.space-67{
    grid-column: 14;
    grid-row: 25;
}
.space-68{
    grid-column: 13;
    grid-row: 25;
}
.space-69{
    grid-column: 12;
    grid-row: 25;
}
.space-70{
    grid-column: 11;
    grid-row: 25;
}
.space-71{
    grid-column: 10;
    grid-row: 25;
}
.space-72{
    grid-column: 9;
    grid-row: 25;
}
/* // */
.space-73{
    grid-column: 9;
    grid-row: 24;
}
.space-74{
    grid-column: 9;
    grid-row: 23;
}
.space-75{
    grid-column: 9;
    grid-row: 22;
}
.space-76{
    grid-column: 9;
    grid-row: 21;
}
.space-77{
    grid-column: 9;
    grid-row: 20;
}
.space-78{
    grid-column: 9;
    grid-row: 19;
}
.space-79{
    grid-column: 9;
    grid-row: 18;
}
.space-80{
    grid-column: 9;
    grid-row: 17;
}
/* || */
.space-81{
    grid-column: 8;
    grid-row: 16;
}
.space-82{
    grid-column: 7;
    grid-row: 15;
}
.space-83{
    grid-column: 6;
    grid-row: 14;
}
.space-84{
    grid-column: 5;
    grid-row: 13;
}
.space-85{
    grid-column: 4;
    grid-row: 12;
}
.space-86{
    grid-column: 3;
    grid-row: 11;
}
.space-87{
    grid-column: 2;
    grid-row: 10;
}
.space-88{
    grid-column: 1;
    grid-row: 9;
}
/* \\ */
.space-89{
    grid-column: 2;
    grid-row: 9;
}
.space-90{
    grid-column: 3;
    grid-row: 9;
}
.space-91{
    grid-column: 4;
    grid-row: 9;
}
.space-92{
    grid-column: 5;
    grid-row: 9;
}
.space-93{
    grid-column: 6;
    grid-row: 9;
}
.space-94{
    grid-column: 7;
    grid-row: 9;
}
.space-95{
    grid-column: 8;
    grid-row: 9;
}
.space-96{
    transform: scale(2);
    grid-column: 9;
    grid-row: 9;
}
/* aries */
.space-97{
    grid-column: 24;
    grid-row: 13;
}
/* taurus */
.space-98{
    grid-column: 28;
    grid-row: 21;
}
/* gemini */
.space-99{
    grid-column: 29;
    grid-row: 24;
}
/* cancer */
.space-100{
    grid-column: 24;
    grid-row: 29;
}
/* leo */
.space-101{
    grid-column: 21;
    grid-row: 28;
}
/* virgo */
.space-102{
    grid-column: 13;
    grid-row: 24;
}
/* libra */
.space-103{
    grid-column: 10;
    grid-row: 21;
}
/* scorpio */
.space-104{
    grid-column: 6;
    grid-row: 13;
}
/* sagittarius */
.space-105{
    grid-column: 5;
    grid-row: 10;
}
/* capricorn */
.space-106{
    grid-column: 10;
    grid-row: 5;
}
/* aquarius */
.space-107{
    grid-column: 13;
    grid-row: 6;
}
/* pisces */
.space-108{
    grid-column: 21;
    grid-row: 10;
}
/* saturn */
.space-109{
    grid-column: 11;
    grid-row: 5;
}
/* uranus */
.space-110{
    grid-column: 12;
    grid-row: 6;
}
/* neptune */
.space-111{
    grid-column: 21;
    grid-row: 11;
}
/* mars */
.space-112{
    grid-column: 23;
    grid-row: 13;
}
/* venus1 */
.space-113{
    grid-column: 27;
    grid-row: 21;
}
/* mercury1 */
.space-114{
    grid-column: 29;
    grid-row: 23;
}
/* basicMoon */
.space-115{
    grid-column: 23;
    grid-row: 29;
}
/* sun */
.space-116{
    grid-column: 21;
    grid-row: 27;
}
/* mercury2 */
.space-117{
    grid-column: 13;
    grid-row: 23;
}
/* venus2 */
.space-118{
    grid-column: 11;
    grid-row: 21;
}
/* pluto */
.space-119{
    grid-column: 7;
    grid-row: 13;
}
/* jupiter */
.space-120{
    grid-column: 5;
    grid-row: 11;
}

